.accueil {
          display:inline-block; 
          width: 100px;
          height: 40px;
          margin: 50px;
          padding-block: 20px;
          border: 0px solid rgba(71, 71, 75, 0.315);
          background-color: rgba(71, 71, 75, 0.315);
          
       }

       .presentation {display:inline-block; 
        width: 100px;
        height: 40px;
        margin: 50px;
        padding-block: 20px;
        background-color: rgba(71, 71, 75, 0.315); }
    
     .projet {display:inline-block;
              width: 100px;
              height: 40px;
              margin: 50px;
              padding-block: 20px;
              background-color: rgba(71, 71, 75, 0.315);
              }      
              
    .competence   {display:inline-block;
                   width: 100px;
                   height: 40px;
                   margin: 50px;
                   padding-block: 20px;
                   background-color: rgba(71, 71, 75, 0.315);
                   } 
    
    .contact     { display:inline-block;
                   width: 100px;
                   height: 40px;
                   margin: 50px;
                   padding-block: 20px;
                   background-color: rgba(71, 71, 75, 0.315);
                   }                     
