body {
   background-color: black;
   font-family: 'Gill Sans';
   margin-left: 10px;}

a {color:white;
   display: inline-flex;
   margin-left: 120px;
   margin-top: 50px;
   text-decoration: none;}

.menu {background-color: #0b025979;
       
      
       height: 100px;
       margin-left: 10px;
       margin-top: 10px;} 

 a:hover {color: yellow;}    
 

.logo {float: left;
      height: 100px;
      width: 100px ;}